Celem zadania jest przygotowanie aplikacji w .NET MAUI "Lista zakupów"
Wymagania na ocenê dopuszczaj¹c¹: y
-Aplikacja musi przechowywaæ dane na temat listy zakupów w formie plików. (nie .TXT) y
-Aplikacja musi byæ zgodna z tematem zadania tj. "Lista zakupów" y
-Projekt powinien byæ podzielony na widoki i modele danych y
-niedopuszczalny jest ponglisz (dopuszczalne s¹ teksty do wyœwietlania w jêzyku polskim) y
-Produkty powinny byæ reprezentowane na interface za pomoc¹ ContentView, który posiada nastêpuj¹ce w³aœciwoœci: y
• Nazwa produktu y
• jednostka w jakiej mierzymy produkt ( szt. l. kg. itp.) y
• mo¿liwoœæ zaznaczenia elementu kupionego. taki element nie zostaje usuniêty. Powinien on zostaæ w jakiœ sposób zaznaczony (wyszarzenie, skreœlenie) i umieszczony na koñcu listy kategorii. y
• mo¿liwoœæ okreœlenia iloœci poprzez wpisanie wartoœci liczbowej z klawiatury lub klikniêcie w "+" lub "-" aby zwiêkszyæ/zmniejszyæ o jeden iloœæ produktu y
• mo¿liwoœæ ca³kowitego usuniêcia produktu y

Wymagania na ocenê dostateczn¹: y
- Aplikacja ma dawaæ mo¿liwoœæ tworzenia nowych kategorii produktów (nabia³, warzywa, elektronika, agd, etc.) kilka z nich mo¿e byæ predefiniowanych ju¿ w aplikacji. y
- Ka¿da kategoria powinna byæ zaprezentowana w formie ContentView i mieæ mo¿liwoœæ rozwiniêcia kategorii w celu zobaczenia produktów z tej kategorii. y
-Ka¿dy produkt musi byæ przypisany do jakiejœ kategorii ju¿ istniej¹cej. y

Wymagania na wy¿sze oceny (na ocenê Dobr¹ musz¹ zostaæ zrealizowane 2 wymagania z poni¿szych, na Bardzo Dobr¹ - 4, a na celuj¹c¹ 6), przy czym wymagania 6. nie mo¿na wykonaæ jeœli wymaganie 1 lub 3 nie zosta³o zrealizowane: n
1. Mo¿liwoœæ generowania/prze³¹czania widoku "Listy do sklepu" w której bêd¹ pokazane tylko produkty nieoznaczone jako kupione oraz bez podzia³u na kategorie, ale po kategoriach posortowane.
   W momencie zaznaczenia elementu jako kupiony powinien on znikn¹æ z tego widoku a na liœcie z kategoriami powinien byæ zaznaczony jako kupiony. y
2. Mo¿liwoœæ eksportu pliku do podzielnia siê list¹ zakupow¹ z innym u¿ytkownikiem (funkcjonalnoœæ exportu i importu) y
3. Mo¿liwoœæ oznaczenia sklepu w jakim dany produkt u¿ytkownik chce kupiæ (Biedronka, Selgros itp.) i generowania widoku listy tylko dla tego konkretnego sklepu. n
4. Mo¿liwoœæ oznaczenia w czytelny sposób, ¿e dany produkt w liœcie zakupowej jest opcjonalny. n
5. Zak³adka z przepisami, w której mo¿emy importowaæ z przepisu potrzebne sk³adniki do listy zakupów (Wraz z mo¿liwoœci¹ dodawania nowych przepisów, i przynajmniej dwoma predefiniowanymi przepisami) y
6. Mo¿liwoœæ wyboru sortowania produktów po kategoriach (w przypadku list ju¿ wygenerowanych do konkretnego sklepu lub listy produktów niekupionych), po nazwie, po iloœci. n

zamienic zapis do xml zeby uzywal linq n
zwiekszanie i zmniejszanie ilosci o 1 poprzez + i - w context menu y